.rank {
    color: orange;
}
.intro {
    margin-top: 110px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    background-color: #f7f7f7;
}
.intro h1{
    font-size: 40px;
    font-weight: bold;
}
.intro p{
    font-size: 20px;
    font-weight: bold;
    color: #9b9b9b;
}
.menu-container{
    position: static;
    display: flex;
    justify-content: center;
}
.menu-container .menu-wrap .menu-content{
   display: flex;
   align-items: center;
   border-bottom: 2px solid #dbdbdb;
}
.menu-container .menu-wrap .menu-content img{    
    padding: 20px 40px 20px 20px;
    width: 300px;
    height: 250px;
}
.menu-container .menu-wrap .menu-content .menu-review h1{
    font-size: 40px;
    font-weight: normal;
    color: #555;
}
.menu-container .menu-wrap .menu-content .menu-review h1 button {
    position: relative;
    left: 600px;
    display: flex;    
    font-size: 30px;
    bottom: 30px;
    cursor: pointer;
}
.menu-container .menu-wrap .menu-content .menu-review h1 button i{
    color: black;
}
.menu-container .menu-wrap .menu-content .menu-review h1 button i.active{
    color: orange;
}
.menu-container .menu-wrap .menu-content .menu-review .address {
    font-size: 20px;
    color: #9b9b9b;
}
.menu-container .menu-wrap .menu-content .menu-review p {
    font-size: 24px;
    color: black;
}
.menu-container .menu-wrap .menu-content .menu-review p a {
    font-size: 20px;
    color: #888;
    position: relative;
    left: 600px;
    display: flex;
    bottom: 30px;
}